// @for at-rule with calculations
$base-weight: 400;

@for $i from 0 through 3 {
  .fw-#{$base-weight+($i * 100)} {
    font-weight: $base-weight + ($i * 100);
  }
}

@for $_ from 0 through 3 {
  @debug $_;
}

$n: 0;

@while $n < 4 {
  $n: $n + 1;
  @debug $n;
}