.section {
  color: black;
}
.section .title {
  font-size: 30px;
  color: black;
}
.section .text {
  font-size: 20px;
  color: grey;
}

ul > li {
  width: 100px;
}

div + p {
  color: black;
}

h2 ~ p {
  color: black;
}

.link {
  color: grey;
}
.link:hover, .link:focus {
  color: black;
}

.button {
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
}

.button-icon {
  width: 40px;
  height: 40px;
}
.button-icon:hover, .button-icon:focus {
  width: 50px;
  height: 50px;
}
.button:hover .button-icon {
  font-size: 20px;
}