body {
  min-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.title {
  font-size: 16px;
}

.subtitle {
  font-size: 10px;
}

.small-btn {
  font-size: 16px;
  color: black;
  background-color: hotpink;
}

body {
  background-color: white;
}

p {
  color: red;
  background-color: teal;
}