.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.p-20 {
  padding: 20px;
}

.margin-sm {
  margin: 24px;
}

.margin-md {
  margin: 32px;
}

.margin-lg {
  margin: 36px;
}

.margin-xl {
  margin: 68px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.square-avatar {
  width: 100px;
  height: 100px;
}

.circle-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.025em;
  text-align: center;
}