.box {
  width: 570px;
}

.box {
  width: 300px;
}

.box {
  background-color: #ffffff;
}

.box {
  width: 200px;
}

.box {
  width: -webkit-calc(100px * 2);
  width: -moz-calc(100px * 2);
  width: calc(100px * 2);
}

.badge-completed {
  background-color: #a461d8;
}

.badge-ended {
  background-color: #fc5a5a;
}

.badge-active {
  background-color: #82c43c;
}