.icon, .avatar {
  width: 150px;
  height: 150px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.icon {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.decoration {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.decoration-second {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.decoration-third {
  z-index: 1000;
  display: block;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn-xl, .btn-lg, .btn-md, .btn-sm {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;
  color: #fafafb;
  background-color: #f07f2e;
  border: none;
  cursor: pointer;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  transition: 300ms;
}
.btn-xl:hover, .btn-lg:hover, .btn-md:hover, .btn-sm:hover, .btn-xl:focus, .btn-lg:focus, .btn-md:focus, .btn-sm:focus {
  background-color: #f15c27;
  -webkit-box-shadow: 0 4px 10px 0 rgba(240, 127, 46, 0.25);
          box-shadow: 0 4px 10px 0 rgba(240, 127, 46, 0.25);
}

.btn-sm {
  padding: 4px 8px;
  border-radius: 8px;
}

.btn-md {
  padding: 8px 12px;
  border-radius: 12px;
}

.btn-lg {
  padding: 12px 16px;
  border-radius: 16px;
}

.btn-xl {
  padding: 16px 20px;
  border-radius: 20px;
}

.btn-success {
  border: 2px solid lightgreen;
  color: lightgreen;
}

.btn-error {
  border: 2px solid tomato;
  color: tomato;
}

.btn-info {
  border: 2px solid lightblue;
  color: lightblue;
}

.button {
  background-color: white;
  border: 1px solid black;
}
.button:not([disabled]):hover {
  background-color: darkblue;
  color: white;
}