.icon-10px {
  font-size: 10px;
  width: 10px;
  height: 10px;
}

.icon-20px {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.icon-30px {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.btn-sm {
  padding: 5px 10px;
  border-radius: 10px;
}

.btn-md {
  padding: 10px 15px;
  border-radius: 15px;
}

.btn-lg {
  padding: 15px 20px;
  border-radius: 20px;
}

.btn-xl {
  padding: 20px 25px;
  border-radius: 25px;
}

.btn-xxl {
  padding: 25px 30px;
  border-radius: 30px;
}