.box {
  //width: 600px + 30px;
  width: 600px - 30px;
}

$value: 600px;

.box {
  //width: 600px * 5;
  //width: 600px * 2 + 50px;
  //width: 2 * (600px + 50px);
  //
  //width: $value / 5;
  //width: (600px / 2);
  width: 600px / 3 + 100px;
}

// Interpolation

$name: "box";
$color: #ffffff;

.#{$name} {
  background-color: $color;
}

$margin: 100px;

.box {
  width: $margin * 2;
}
.box {
  //width: calc($margin * 2);  // css - width: margin: 200px;
  width: calc(#{$margin} * 2);  // css - width: calc(100px * 2);
}

// Interpolation example

$status: (
"completed": #a461d8,
"ended": #fc5a5a,
"active": #82c43c,
);

@each $status-text, $color in $status {
  .badge-#{$status-text} {
    background-color: $color;
  }
}

