$color-primary: teal;  // global scope

body {
  $color-primary: white; // local scope
  $color-secondary: red !global; // global scope
  background-color: $color-primary;
}

p {
  color: $color-secondary;
  background-color: $color-primary;
}