@use 'mixins' as m;
@use 'functions' as f;

.title {
  // font-size: 20px;
  // font-style: normal;
  // font-weight: 600;
  // line-height: 28px; /* 140% */
  // letter-spacing: 0.5px;
  // text-align: center;

  @include m.fonts(20px, 600, 28px, 0.5px, center);
}

.subtitle {
  @include m.fonts(16px, 500, 20px, 0.5px, center);
}

.container {
  width: f.rem(1000px);
}