//@use "reset";
//@use "base/base";
//@use "components/badge";


@use "--examples--/lesson-05/base";
@use "--examples--/lesson-05/variables";
@use "--examples--/lesson-05/button";
@use "--examples--/lesson-05/scopes";
